	</main>	
			
<!-- CONTENT EOF   -->

<!-- BEGIN FOOTER -->	
	
	<footer>
		<div class="footer__wrap">
			<div class="footer__content">
				<a class="footer__top" href="#">
					<div class="footer__logo"></div>
					<h2 class="footer__title">Inside windows</h2>
				</a>
				<div class="footer__mid clearfix">
					<ul class="footer__list">
						<li><a class="footer__link" href="#">Главная</a></li>
						<li><a class="footer__link" href="#">Продукция</a></li>
						<li><a class="footer__link" href="#">Наши услуги</a></li>
					</ul>
					<ul class="footer__list">
						<li><a class="footer__link" href="#">Кредит</a></li>
						<li><a class="footer__link" href="#">Акции</a></li>
						<li><a class="footer__link" href="#">Новости</a></li>
					</ul>
					<ul class="footer__list">
						<li><a class="footer__link" href="#">Доставка</a></li>
						<li><a class="footer__link" href="#">Оплата</a></li>
						<li><a class="footer__link" href="#">Контакты</a></li>
					</ul>
				</div>
				<div class="footer__bot clearfix">
					<div class="phone">+ 38 (044) 812-23-12</div>
					<div class="btn btn_green text-right btn_phone">Заказать звонок</div>
				</div>
			</div>
		</div>
	</footer>
	
<!-- FOOTER EOF   -->

</div>		

<div class="icon-load"></div>

<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/jquery.custom-scroll.min.js"></script>
<script src="/js/custom.js"></script>

<!-- BODY EOF   -->

</body>
</html>