<% include header %>

	<h1><%= title %></h1>
	<form method="post" enctype="multipart/form-data">
	    <input type="file" name="filetoupload"><br>
	    <input type="submit">
    </form>
	
<% include footer %>
