/*html body nav.meny ul li a{
	font-size: 20px;
}*/
/*
nav a{
	font-size: 40px !important;
}

a{
	font-size: 14px !important;
}*/

/*.meny a{
	font-size: 10px;
}

#current{
	font-size: 30px;
}*/

.meny ul li{
	list-style: none;
	font-size: 20px;
	background: green;
	border: 1px solid yellow;
	width: 150px;
	float: left;
}

.crearfix{
	clear: both;
}

.meny ul li:hover{
	opacity: 0.9;
}

.meny ul li a:hover{
	color: red;
}

.meny ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px;
	width: 100%;
	display: block;
}

.meny{
	/*left: 300px;*/
	position: fixed;
	top: 0;
	left: 0;
}

.meny ul{
	padding: 0;
	margin: 0;
}

body{
	height: 2000px;
}

.meny ul li ul{
	display: none;
}

.meny ul li:hover ul{
	display: block;
}

