<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1">
	<title>INSIDE WINDOWS</title>
	<link rel="stylesheet" type="text/css" href="css/style.css" />	
</head>
<body class="loaded">

<!-- BEGIN BODY -->

<div class="main-wrapper">

<!-- BEGIN HEADER -->

	<header>
		<div class="header__content">
			<div class="header__top clearfix">
				<a class="logo" href="#">
					<div class="logo__img"></div>
					<span class="logo__text">Inside Windows</span>
				</a>
				<span class="header__description">
					<span class="header__text">Окна от <span class="header__text_bold">лучших</span> мировых производителей</span>
				</span>
				<a class="btn btn_green text-right btn_phone" href="#">Заказать дзвонок</a>
				<span class="phone">+ 38 (044) 812-23-12</span>
			</div>
			<div class="header__bottom">
				<nav class="nav clearfix">
					<a class="nav__item" href="#">Главная</a>
					<a class="nav__item" href="#">Продукция</a>
					<a class="nav__item" href="#">Наши Услуги</a>
					<a class="nav__item" href="#">Кредит</a>
					<a class="nav__item" href="#">Акции</a>
					<a class="nav__item" href="#">Новости</a>
					<a class="nav__item" href="#">Доставка</a>
					<a class="nav__item" href="#">Оплата</a>
					<a class="nav__item" href="#">Контакты</a>
					<div class="nav__search"></div>
				</nav>
			</div>
		</div>
	</header>

<!-- HEADER EOF   -->

<!-- BEGIN CONTENT -->

	<main class="content">