<section class="main-slider slider">
			<div class="main-slider slider__wrap">
				<div class="main-slider slider__content">
					<ul class="main-slider slider__list">
						<li class="main-slider slider__item">
							<h4 class="main-slider slider__title">Установка и доставка окон от производителя</h4>
							<p class="main-slider slider__text">
								Равным образом укрепление
								и развитие структуры играет
								важную роль в формир овании
								дальнейших направлений развития.
								Богатый опыт консультация с широким
								активом
							</p>
						</li>
					</ul>
					<ul class="dots">
						<li class="dots__item"></li>
						<li class="dots__item active"></li>
						<li class="dots__item"></li>
						<li class="dots__item"></li>
					</ul>
					<div class="slider__prev"></div>
					<div class="slider__next"></div>
				</div>
			</div>
			<ul class="main-slider slider__images">
				<li><img class="main-slider slider__img" src="img/sliderMain/img_1.jpg" alt="#"></li>
				<!--<li class="main-slider__item"><img src="img/sliderMain/img_1.jpg" alt="#"></li>-->
				<!--<li class="main-slider__item"><img src="img/sliderMain/img_1.jpg" alt="#"></li>-->
				<!--<li class="main-slider__item"><img src="img/sliderMain/img_1.jpg" alt="#"></li>-->
			</ul>
		</section>