<% include header %>
	<script type="text/javascript" src='/js/leaflet.js'></script>
	<h1><%= title %></h1>
	<p><%= content %></p>
	<div id="map" style="min-width: 100%; min-height: 400px;"></div>
	<script type="text/javascript">
		
	var map = L.map('map', {
		crs: L.CRS.Simple,
		minZoom: -1,
		maxZoom: 4
	});

	var bounds = [[0,0], [1066,1920]];
	var mapUrl = '/img/map.svg';
	//console.log(mapUrl);
	var image = L.imageOverlay(mapUrl, bounds).addTo(map);

	map.fitBounds(bounds);

	var marker = L.marker([100,100],
              {draggable: false}
              ).addTo(map);
	</script>
	
<% include footer %>
